<p>@Dylan Qin</p>

<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>

<h2>Online Tutor</h2>

<div class="panel panel-default">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Course Code</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each_index do |index| %>
          <tr>
              <td><%= (index+1) %></td>
              <td><%= link_to @courses[index].code, crawler_course_path(@courses[index].id) %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>

