<p>@Dylan Qin</p>
<h2>Scrape</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
        <tr>
            <td><%= @result %></td>
        </tr>
  </tbody>
</table>